.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/imagenes/bannerAjustes.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 800px;
    height: 600px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
}

#footer {
    background: linear-gradient(90deg, #ff105f, #ffad06);
}

#footer a {
    color: white;
}
